{% extends "base.html" %}

{% block title %}Feedbacks{% endblock %}
{% block content %}
{% if feedback_list %}
<ul>
    {% for feedback in feedback_list %}
    <figure>
        <h1>{{ feedback.name }}</h1>
        <div>{{ feedback.pub_date }}</div>
        <div>{{ feedback.estimation }}</div>
        <div>{{ feedback.text }}</div>
    </figure>
    {% endfor %}
</ul>
{% else %}
<p>No feedbacks are available.</p>
{% endif %}
<a href="{% url 'feedback:feedback_add' %}">Add feedback</a>
{% endblock %}