{% extends "base.html" %}
{% load static %}

{% block title %}Feedbacks{% endblock %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/feedback.css' %}">
{% endblock %}

{% block content %}
<a href="{% url 'feedback:feedback_add' %}" class="button">Add feedback</a>
{% if feedback_list %}
<ul class="nopadding">
    {% for feedback in feedback_list %}
    <div class="feedback-block">
        <h1>{{ feedback.name }}</h1>
        <p>{{ feedback.pub_date }}</p>
        <p>{{ feedback.estimation }}</p>
        <p>{{ feedback.text }}</p>
    </div>
    {% endfor %}
</ul>
{% else %}
<p>No feedbacks are available.</p>
{% endif %}
{% endblock %}