{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
{% load static %}
<video height="480" 
       src="{% static 'info/videos/HealthHub_video.mp4' %}"
       autoplay controls preload="none" muted>
  Video cannot be displayed
</video>
<article itemscope itemtype="http://schema.org/Organization">
    <h1 itemprop="name">HealthHub Pharmacy</h1>
    <p itemprop="description">
        Welcome to HealthHub, your trusted source for all your healthcare needs. We are dedicated to 
        providing the highest quality pharmaceutical services, health products, and professional guidance 
        to our valued customers.
    </p>
    <h2>Our Commitment to Health</h2>
    <p>
        At HealthHub, our mission is simple yet profound: to promote and enhance the health and well-being of 
        our community. We understand that good health is the foundation of a fulfilling life, and we are here 
        to support you every step of the way.
    </p>
    <h2>Experienced Professionals</h2>
    <p>
        Our team of experienced pharmacists and healthcare experts is at the heart of what we do. With a deep 
        commitment to your health and a wealth of knowledge in medications and healthcare trends, our team is here 
        to offer you personalized advice and guidance.
    </p>
    <h2>Quality Products</h2>
    <p>
        We take pride in offering a wide selection of high-quality prescription and over-the-counter medications, 
        vitamins, supplements, and health products. Your health is our priority, and we ensure that every product 
        on our shelves meets stringent quality standards.
    </p>
    <br>
    <h1>Our history</h1>
    <h2>Our Journey Begins</h2>
    <p>
        In the year 2008, a vision became a reality as HealthHub Pharmacy opened its doors for the first time. 
        Founded by a team of dedicated healthcare professionals, our journey began with a simple yet profound goal
        - to provide our community with the highest standard of healthcare and wellness support.
    </p>
    <h2>A Decade of Dedication</h2>
    <p>Over the past decade, HealthHub Pharmacy has grown and evolved, guided by our unwavering commitment to your 
        health and well-being. We have been honored to serve the wonderful people of Belarus and beyond, 
        providing access to quality medications and expert healthcare advice.
    </p>
    <h2>Innovation and Excellence</h2>
    <p>Throughout the years, we've embraced innovation in the pharmaceutical field. From state-of-the-art prescription 
        management systems to our online services, we've always aimed to make your healthcare experience as convenient 
        and efficient as possible.
    </p>
    <h2>A Community of Care</h2>
    <p>
        At HealthHub Pharmacy, we believe in more than just prescriptions; we believe in building a community of care. 
        We've actively engaged with our neighbors through health education programs, vaccination clinics, and support 
        for local health initiatives.
    </p>
    <h2>Adapting to Challenges</h2>
    <p>
        The year 2020 presented unprecedented challenges with the COVID-19 pandemic. HealthHub Pharmacy responded by 
        ensuring the safety of our customers and staff. We offered curbside pickup, telehealth consultations, and 
        vital information to keep our community safe and informed.
    </p>
    <h2>Looking Forward</h2>
    <p>
        As we move forward, we remain committed to our founding principles. We strive to continue being your trusted 
        healthcare partner, delivering personalized care, expert advice, and high-quality products. The journey that 
        began in 2008 continues, and we're excited about the future.
    </p>
    <p>
        Thank you for choosing HealthHub Pharmacy as your healthcare destination. We're here to support you on your 
        path to better health.
    </p>
</article>
<br>
<h1>Pharmacy details</h1>
<div itemscope itemtype="http://schema.org/Pharmacy">
    <p>
        Business Name: <span itemprop="name">HealthHub Pharmacy</span>
    </p>
    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        Address:
        <span itemprop="streetAddress">Nezalezhnasti 56</span>,
        <span itemprop="addressLocality">Minsk</span>,
        <span itemprop="addressRegion">Belarus</span>
        ZIP-code: <span itemprop="postalCode"></span>213633</span>
    </p>
    <p itemprop="telephone">
        Phone: +375 29 567-34-12
    </p>
    <p itemprop="email">
        Email: info@healthhubpharmacy.com
    </p>
    <p>
        Hours of Operation:
    </p>
    <p itemprop="openingHours">
        Monday to Friday: 9:00 AM - 7:00 PM<br>
        Saturday and Sunday: 10:00 AM - 4:00 PM
    </p>
</div>
<br>
<h3>Ministry of Health of the Republic of Belarus</h3>
<h2 itemprop="license">Pharmacy License</h2>
№ 123873457
<br><br><br><br><br>
The license is granted to a limited liability company "HealthHub Pharmacy"
<br>
<a href="{% url 'info:privacy' %}">Privacy policy</a>
{% endblock %}
