{% extends "base.html" %}
{% load static %}

{% block title %}Additional{% endblock %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/additional.css' %}">
<link rel='stylesheet' href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<!-- 1. The <iframe> (and video player) will replace this <p> tag. -->
<p id="player"></p>

<script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '360',
            width: '640',
            videoId: 'ok-plXXHlWw',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        //event.target.playVideo();
    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;
    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            player.seekTo(3);
            done = true;
        }
    }
    function stopVideo() {
        player.stopVideo();
    }
</script>

<h2>Hour timer</h2>
<div id="timer">
    <div id="timer-hours"></div>:
    <div id="timer-minutes"></div>:
    <div id="timer-seconds"></div>
</div>

<!-- <h2>{{ setup }}</h2>
<h3>{{ punchline }}</h3> -->

<form id="tableForm">
    <label for="tableSize">Enter table size: </label>
    <input type="number" id="tableSize" min="1" required>
    <button type="button" onclick="generateTable()">Ok</button>
</form>
<form>
    <button type="button" onclick="transposeMatrix()">Transpose</button>
</form>
<table id="numTable"></table>

<h2>Listing</h2>
<code>
    name = input("Введите ваше имя: ")<br>
    print(f"Привет, {name}!")
</code>

<h2>Abbreviation</h2>
<abbr title="Belarusian State University of Informatics and Radioelectronics">BSUIR</abbr>

<h2>Defenition</h2>
<dfn title="BSUIR">apple</dfn> is a university in Belarus.

<h2>Quote</h2>
<q class="quote" lang="en">Some quote.</q><br>
<q class="quote" lang="ru">Какая-то цитата.</q>

<h2>Line-movement</h2>
<p>
    HTML - язык,<wbr> как чистый лист,<br>
    Создаем веб,<wbr> будто художник арт.<br>
    Теги, структура,<wbr> мир великий,<br>
    С HTML в вебе мы всегда на пике.
</p>

<h2>Download link</h2>
<a href="{% static 'info/images/ad/ad_wide.jpg' %}" download>Link</a>

<h2>Table</h2>
<table border="1">
    <thead>
      <tr>
        <th id="header1">Header 1</th>
        <th id="header2">Header 2</th>
        <th id="header3">Header 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="header1" rowp="2">first</td>
        <td headers="header2" colp="2">second</td>
      </tr>
      <tr>
        <td headers="header2">2</td>
        <td headers="header3">3</td>
      </tr>
    </tbody>
</table>

<h2>IFrame</h2>
<iframe src="https://bsuir.by" title="metadata"></iframe>

<ul>
    <li>Something</li>
    <li>Something</li>
    <li>Something</li>
</ul>

<form>
    <label for="change_style">Use custom styles</label>
    <input type="checkbox" id="change_style">
</form>
<div id="change_container"></div>

<script src="{% static 'js/change-styles.js' %}"></script>
<script src="{% static 'js/timer.js' %}"></script>
<script src="{% static 'js/rand-num-table.js' %}"></script>

{% endblock %}
