{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}
{% load static %}
<h1>Contacts</h1>

<h3>Steven Wolfe</h3>
<img src="{% static 'info/images/employees/worker2.jpg' %}" height="200" width="200">
<div>Pharmacy manager</div>
<div>E-mail: <a href="mailto:s.wolfe@gmail.com">s.wolfe@gmail.com</a></div>
<div>Phone: <a href="tel:+375-29-667-98-69">+375-29-667-98-69</a></div>

<h3>Maria Dollberg</h3>
<img src="{% static 'info/images/employees/worker1.jpg' %}" height="200" width="200">
<div>Pharmacist</div>
<div>E-mail: <a href="mailto:m.dollberg@gmail.com">m.dollberg@gmail.com</a></div>

<h3>Ann Jhonson</h3>
<img src="{% static 'info/images/employees/worker3.jpg' %}" height="200" width="200">
<div>Pharmacist</div>
<div>E-mail: <a href="mailto:a.jhonson@gmail.com">a.jhonson@gmail.com</a></div>

{% endblock %}