{% extends "base.html" %}

{% block title %}Coupons{% endblock %}

{% block content %}
{% load static %}
<h1>Coupons</h1>

<h2>Active</h2>
    <figure>
        <h3>Sinupret for half a price!</h3>
        <div><strong>Coupon:</strong> 1212</div>
    </figure>
    <figure>
        <h3>Two vitamin bar for one's price</h3>
        <div><strong>Coupon:</strong> 5555</div>
    </figure>

<h2>Archieve</h2>
    <figure>
        <h3>Free stickerpack for opening!</h3>
        <div><strong>Coupon:</strong> 0109</div>
    </figure>

{% endblock %}