{% extends "base.html" %}

{% block title %}Coupons{% endblock %}

{% block content %}
{% load static %}
<h1>Coupons</h1>

<h2>Active</h2>
<figure itemscope itemtype="http://schema.org/Offer">
    <h3 itemprop="name">Sinupret for half a price!</h3>
    <div><strong>Coupon:</strong> <span itemprop="sku">1212</span></div>
</figure>
<figure itemscope itemtype="http://schema.org/Offer">
    <h3 itemprop="name">Two vitamin bar for one's price</h3>
    <div><strong>Coupon:</strong> <span itemprop="sku">5555</span></div>
</figure>

<h2>Archive</h2>
<figure itemscope itemtype="http://schema.org/Offer">
    <h3 itemprop="name">Free sticker pack for opening!</h3>
    <div><strong>Coupon:</strong> <span itemprop="sku">0109</span></div>
</figure>

{% endblock %}