{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<h1>Welcome to <span id="company-name">HealthHub</span>!</h1>

<div id="ad-area">
    <figure id="ad-block">
        <a href="https://sinupret.com/">
            <img src="{% static 'info/images/ad/ad_wide.jpg' %}" alt="Advertisement" width="1000"

                srcset="{% static 'info/images/ad/ad_wide.jpg' %} 1920w,
                        {% static 'info/images/ad/ad_short.jpg' %} 1200w"
            >
            <figcaption>Advertisement</figcaption>
        </a>
    </figure>
</div>

{% if last_article != null %}
<h2>Latest article:</h2>
<div class="center-area">
    <figure itemprop="isPartOf" itemscope itemtype="https://schema.org/NewsArticle" id="article-last">
        <h2 itemprop="headline">{{ last_article.title }}</h2>
        <img src="{{ last_article.img_source.url }}" height="400" alt="{{ last_article.title }}" itemprop="image">
        <p itemprop="articleBody" class="article-text-brief">{{ last_article.content }}</p>
        <a href="{% url 'news:news_detail' last_article.id %}">Continue reading</a>
    </figure>
</div>
<a href="{% url 'news:news_index' %}" itemprop="isRelatedTo">View more articles</a>
{% endif %}

<h2>Out partners:</h2>
<div class="partners">
    <a href="https://www.jnj.com/">
        <div class="partner-background">
            <img src="{% static 'info/images/partners/jnj.png' %}" alt="Jhonson and Jhonson" class="partner-image" width="100">
        </div>
    </a>
    <a href="https://www.gsk.com/">
        <div class="partner-background">
            <img src="{% static 'info/images/partners/gsk.png' %}" alt="GSK" class="partner-image" width="100">
        </div>
    </a>
    <a href="https://www.bayer.com/">
        <div class="partner-background">
            <img src="{% static 'info/images/partners/bayer.png' %}" alt="Bayer" class="partner-image" width="100">
        </div>
    </a>
    <a href="https://www.novartis.com/">
        <div class="partner-background">
            <img src="{% static 'info/images/partners/novartis.png' %}" alt="Novartis" class="partner-image" width="100">
        </div>
    </a>
    <a href="https://www.pfizer.com/">
        <div class="partner-background">
            <img src="{% static 'info/images/partners/pfizer.png' %}" alt="Pfizer" class="partner-image" width="100">
        </div>
    </a>
</div>

{% endblock %}
