{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/forms.css' %}"
{% endblock %}

{% block content %}
<section id="top">
    <img src="{% static 'info/images/scrollarea/pharmacy.png' %}" id="bg" />
    <h2 id="text">HealthHub</h2>
    <img src="{% static 'info/images/scrollarea/girl.png' %}" id="woman" />
    <img src="{% static 'info/images/scrollarea/doorleft_new.png' %}" id="door_left" />
    <img src="{% static 'info/images/scrollarea/doorright_new.png' %}" id="door_right" />
</section>

<h1>Welcome to <span id="company-name">HealthHub</span>!</h1>

<div class="ad-container">
    <a href="https://sinupret.com/" class="ad-page">
        <img src="{% static 'info/images/ad/ad_short.jpg' %}" alt="Ad 1" class="ad-img" />
    </a>
    <a href="https://www.strepsils.ru/" class="ad-page">
        <img src="{% static 'info/images/ad/strepsils_ad.png' %}" alt="Ad 2" class="ad-img" />
    </a>
</div> 

{% if user.department or user.is_superuser %}
<div id="setting-area">
    <a onclick="showSetting()">
        <img src="{% static 'info/images/setting.png' %}" height="50px" width="50px" class="rotate-on-click" id="rotating-image">
    </a>
    <form id="setting-popup">
        <label for="interval">Enter a new interval for ads:</label>
        <input type="number" id="interval" min="1" value="5">
        <button id="changeInterval">Change</button>
    </form>
</div>
{% endif %}

{% if last_article != null %}
<h2>Latest article:</h2>
<div class="center-area">
    <figure itemprop="isPartOf" itemscope itemtype="https://schema.org/NewsArticle" id="article-last">
        <h2 itemprop="headline">{{ last_article.title }}</h2>
        <img src="{{ last_article.img_source.url }}" height="400" alt="{{ last_article.title }}" itemprop="image">
        <p itemprop="articleBody" class="article-text-brief">{{ last_article.content }}</p>
        <a href="{% url 'news:news_detail' last_article.id %}">Continue reading</a>
    </figure>
</div>
<a href="{% url 'news:news_index' %}" itemprop="isRelatedTo">View more articles</a>
{% endif %}

<h2>Out partners:</h2>
<div class="partners">
    <a href="https://www.jnj.com/">
        <div class="partner-background">
            <img src="{% static 'info/images/partners/jnj.png' %}" alt="Jhonson and Jhonson" class="partner-image" width="100">
        </div>
    </a>
    <a href="https://www.gsk.com/">
        <div class="partner-background">
            <img src="{% static 'info/images/partners/gsk.png' %}" alt="GSK" class="partner-image" width="100">
        </div>
    </a>
    <a href="https://www.bayer.com/">
        <div class="partner-background">
            <img src="{% static 'info/images/partners/bayer.png' %}" alt="Bayer" class="partner-image" width="100">
        </div>
    </a>
    <a href="https://www.novartis.com/">
        <div class="partner-background">
            <img src="{% static 'info/images/partners/novartis.png' %}" alt="Novartis" class="partner-image" width="100">
        </div>
    </a>
    <a href="https://www.pfizer.com/">
        <div class="partner-background">
            <img src="{% static 'info/images/partners/pfizer.png' %}" alt="Pfizer" class="partner-image" width="100">
        </div>
    </a>
</div>

<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/ad-banners.js' %}"></script>

{% endblock %}
