{% extends "base.html" %}

{% block title %}Privacy policy{% endblock %}

{% block content %}

<h1>Privacy policy</h1>
<time itemprop="dateModified" datetime="2023-09-01">Last Updated: 01.09.2023</time>
<p>
    Welcome to HealthHub Pharmacy ("we," "our," or "us"). We respect your privacy and are committed to protecting your personal
    information. This Privacy Policy is designed to help you understand how we collect, use, disclose, and safeguard your 
    information when you visit our website, interact with our services, or otherwise engage with us.
</p>
<p>
    By accessing or using our website, you consent to the practices described in this Privacy Policy. If you do not agree
     with our practices, please do not use our website or services.
</p>

<h2>Information We Collect</h2>
<p>
    We may collect the following types of information:
</p>
<p>
    Personal Information: This may include your name, email address, postal address, phone number, date of birth,
     and other identifiers when you voluntarily provide them to us, such as when you contact us, sign up for newsletters, 
     or use certain features of our website.
</p>
<p>
    Usage Information: We collect information about your interactions with our website, including your IP address, 
    browser type, operating system, referring/exit pages, and pages visited. We may also use cookies and similar 
    tracking technologies to enhance your experience on our website.
</p>
<p>
    Prescription and Health Information: When you request prescription services or health information, we may collect
     and store information related to your medications, health conditions, and medical history to provide you with the
      requested services.
</p>

<h2>How We Use Your Information</h2>
<p>
    We may use your information for the following purposes:
</p>
<ol>
    <li>To provide and improve our website and services.</li>
    <li>To process and fulfill prescription orders and healthcare requests.</li>
    <li>To respond to inquiries, comments, or questions you submit to us.</li>
    <li>To send you updates, newsletters, or promotional materials if you have opted in to receive them.</li>
    <li>To ensure the security of our website and protect against fraudulent or unauthorized activities.</li>
</ol>

<h2>Information Sharing</h2>
<p>
    We may share your information with:
</p>
<ol>
    <li>Authorized healthcare professionals to process prescription orders and provide healthcare services.</li>
    <li>Service providers, business partners, or third-party contractors who assist us in operating our website and providing services.</li>
    <li>Government authorities, law enforcement agencies, or other entities when required by law or to protect our rights, privacy, 
        safety, or property.</li>
</ol>

<h2>Your Choices</h2>
<p>
    You have choices regarding the information you provide to us:
</p>
<p>
    You can opt-out of receiving promotional communications from us by following the unsubscribe instructions provided in our emails.
    You may have certain rights related to your personal information under applicable privacy laws. Please contact us to exercise these 
    rights or inquire about them.
</p>

<h2>Security</h2>
<p>
    We take reasonable measures to protect your personal information from unauthorized access, use, disclosure, or alteration. However, 
    no method of transmitting or storing data is completely secure. Therefore, we cannot guarantee the security of your information.
</p>

<h2>Changes to this Privacy Policy</h2>
<p>
    We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or 
    regulatory reasons. We will notify you of any material changes by posting the revised Privacy Policy on our website.
</p>

{% endblock %}