{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/lists.css' %}">
<link rel='stylesheet' href="{% static 'css/age-checker.css' %}">
<link rel='stylesheet' href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<h1>Medicines</h1>
{% if medicines_list %}
<ul>
    {% for medicine in medicines_list %}
    <li><a href="{% url 'pharmacy:medicine_detail' medicine.id %}">{{ medicine.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No medicines are available.</p>
{% endif %}

<div id="age-control">
    <div id="output-area">
        <form id="ageForm">
            <label for="dob">Enter your date of birth:</label>
            <input type="date" id="dob" required>
            <button type="button" onclick="checkAge()">Check Age</button>
        </form>
        <div id="ageMessage"></div>
        <button type="button" onclick="leaveAgeCheck()" id="continueBttn">Continue</button>
    </div>
</div>

<script src="{% static 'js/age-control.js' %}"></script>
{% endblock %}