/* Links styles */

a {
    text-decoration: none;
    color: green;
	font-family: 'Lato', 'Roboto', sans-serif;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    color: lightgreen;
}

a:visited {
    color: rgb(15, 88, 15);
}

/* Content wrap */

#content-wrap {
	margin-left: 20%;
	margin-right: 20%;
}

/* Fonts */

@font-face {
	font-family: 'Lato';
	src: url('../static/fonts/lato/Lato-Regular.eot');
	src: local('Lato Regular'), local('Lato-Regular'),
		url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
		url('../fonts/lato/Lato-Regular.woff') format('woff'),
		url('../fonts/lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Medium.eot');
	src: local('Lato Medium'), local('Lato-Medium'),
		url('../fonts/lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/Lato-Medium.woff2') format('woff2'),
		url('../fonts/lato/Lato-Medium.woff') format('woff'),
		url('../fonts/lato/Lato-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Italic.eot');
	src: local('Lato Italic'), local('Lato-Italic'),
		url('../fonts/lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/Lato-Italic.woff2') format('woff2'),
		url('../fonts/lato/Lato-Italic.woff') format('woff'),
		url('../fonts/lato/Lato-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Bold.eot');
	src: local('Lato Bold'), local('Lato-Bold'),
		url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/Lato-Bold.woff2') format('woff2'),
		url('../fonts/lato/Lato-Bold.woff') format('woff'),
		url('../fonts/lato/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Regular.eot');
	src: local('Roboto'), local('Roboto-Regular'),
		url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
		url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Italic.eot');
	src: local('Roboto Italic'), local('Roboto-Italic'),
		url('../fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
		url('../fonts/roboto/Roboto-Italic.woff') format('woff'),
		url('../fonts/roboto/Roboto-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Medium.eot');
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
		url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
		url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Bold.eot');
	src: local('Roboto Bold'), local('Roboto-Bold'),
	url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
		url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* Text */

.italic {
	font-family: 'Lato', 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 400;
}

p {
    font-family: 'Lato', 'Roboto', sans-serif;
    font-size: 20px;
}

span {
    font-family: 'Lato', 'Roboto', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Lato', 'Roboto', sans-serif;
    font-weight: 500;
}

h2 {
    font-family: 'Lato', 'Roboto', sans-serif;
    font-weight: 500;
}

h3 {
    font-family: 'Lato', 'Roboto', sans-serif;
    font-weight: 500;
}

#navigation-top {
    font-family: 'Lato', 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

body {
    margin: 0;
}