table td {
    padding: 0px 20px;
}

select {
    box-shadow: 0px 0px 10px #ccc;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    min-width: 500px;
    overflow-y: auto;
}

select:required {
    color: rgb(0, 75, 0);
}

select:out-of-range {
    box-shadow: 0px 0px 10px red;
}

select:disabled {
    cursor: default;
    background-color: #ccc;
}

input[type=submit] {
    background-color: green;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px #ccc;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

button {
    background-color: green;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px #ccc;
    font-size: 20px;
    color: white;
    cursor: pointer;
    min-width: 100px;
}

input[type=number] {
    box-shadow: 0px 0px 10px #ccc;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 10px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    min-width: 500px;
}

input[type=text] {
    box-shadow: 0px 0px 10px #ccc;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 10px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    min-width: 500px;
}

input[type=date] {
    box-shadow: 0px 0px 10px #ccc;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 10px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    min-width: 500px;
}

input[type=number]:out-of-range {
    box-shadow: 0px 0px 10px red;
}

textarea {
    box-shadow: 0px 0px 10px #ccc;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;
    font-size: 20px;
    outline: none;
    width: 500px;
    resize: none;
}