ul {
    list-style-type: none;
}

ul li::before {
    content: "\25D5";
    margin-right: 5px;
}

#change_style {
    margin: 20px;
    cursor: pointer;
}

#change_container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#change_container button {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
	border-radius: 20px;
    background-color: green;
    color: white;
    min-width: 200px;
    outline: none;
}

#timer {
    font-size: 36px;
    display: flex;
    flex-direction: row;
}

#numTable {
    border-collapse: collapse;
    border: 1px solid black;
    width: fit-content;
}

#numTable th, #numTable td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

td.selected {
    background-color: aqua;
}

td.selected-even {
    background-color: rgb(29, 255, 180);
}