<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}<title>Pharmacy</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'pharmacy/css/styles.css' %}">
</head>

    <body>
        <header>
            <nav>
                <a href="{% url 'pharmacy:index' %}">Home</a>&nbsp;|&nbsp;
                <a href="{% url 'pharmacy:category_index' %}">Categories</a>&nbsp;|&nbsp;
                <a href="{% url 'pharmacy:medicine_index' %}">Medicines</a>&nbsp;|&nbsp;
                {% if perms.pharmacy.view_supplier %}
                <a href="{% url 'pharmacy:supplier_index' %}">Suppliers</a>&nbsp;|&nbsp;
                {% endif %}
                {% if perms.pharmacy.view_sale %}
                <a href="{% url 'pharmacy:sale_index' %}">Sales</a>&nbsp;|&nbsp;
                {% endif %}
                {% if perms.pharmacy.view_sale %}
                <a href="{% url 'pharmacy:statistics' %}">Statistics</a>&nbsp;|&nbsp;
                {% endif %}
                {% if user.is_authenticated %}
                Welcome, {{ user.get_username }} &nbsp;&nbsp;&nbsp;
                <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
                {% else %}
                Unauthorized, <a href="{% url 'login'%}?next={{request.path}}">login</a>
                {% endif %}
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
