{% extends "base.html" %}

{% block title %}News{% endblock %}
{% block content %}
{% if news_list %}
<ul>
    {% for article in news_list %}
    <figure itemprop="article" itemscope itemtype="https://schema.org/NewsArticle">
        <h1 itemprop="headline">{{ article.title }}</h1>
        <img itemprop="image" src="{{ article.img_source.url }}" height="400" alt="{{ article.title }}">
        <div itemprop="description">{{ article.get_brief }} <a href="{% url 'news:news_detail' article.id %}" itemprop="url">Continue reading</a></div>
    </figure>
    {% endfor %}
</ul>
{% else %}
<p>No articles are available.</p>
{% endif %}
{% endblock %}